---
const jobs = [];
---

<!DOCTYPE html>
<html dir="rtl" lang="ar">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <!-- <link rel="apple-touch-icon" href={`${Astro.site}apple-touchicon.png`} />
    <link rel="manifest" href={`${Astro.site}site.webmanifest`} />
    <link rel="sitemap" href={`${Astro.site}sitemap-indexxml`} />
    <link rel="alternate" type="application/rss+xml" title="RSS" href={`${Astro.site}rss.xml`} />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <meta name="generator" content={Astro.generator} /> -->
    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
    <style>
      @font-face {
        font-family: "cairo";
        src: url("/fonts/Cairo-Regular.ttf") format("ttf");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      body {
        font-family: cairo;
      }
    </style>
  </head>
  <body>
    <div
      class="text-center bg-slate-100 py-1 text-3xl leading-8 font-extrabold dark:bg-gray-800"
    >
      <p
        class="py-4 text-3xl leading-8 font-extrabold max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 tracking-tight text-gray-900 dark:text-secondary sm:text-4xl"
      >
        حمل التطبيق من هنا
      </p>
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="shrink-0">
          <dl class="space-y-10 md:space-y-0 md:gap-x-8 md:gap-y-10">
            <div>
              <div class="bg-white rounded-xl shadow-lg w-4/5 mx-auto">
                <div class="android mx-auto">
                  <a
                    href="https://bit.ly/46Ygn70"
                    class="my-4 gap-2 text-secondar flex justify-center items-center py-6 bg-white rounded-xl shadow-lg hover:text-blue-600 dark:text-secondary dark:hover:text-blue-300"
                    rel="noopener noreferrer"
                    target="_blank"
                  >
                    <div
                      class="mx-auto flex w-44 items-center bg-[#2a2e39] border-2 rounded-lg justify-center"
                    >
                      <img
                        class="mx-auto w-40 p-1 flex items-center justify-center text-white"
                        src="/assets/google-play-badge-en (1).svg"
                      />
                    </div>
                  </a>
                </div>
                <div class="apple mx-auto">
                  <a
                    href="https://apps.apple.com/us/app/%D8%AF%D8%B1%D8%A7%D9%87%D9%85/id6448579250"
                    class="text-secondar flex justify-center items-center py-6 bg-white rounded-xl shadow-lg hover:text-blue-600 dark:text-secondary dark:hover:text-blue-300"
                    rel="noopener noreferrer"
                    target="_blank"
                  >
                    <div
                      class="mx-auto flex w-44 items-center bg-[#2a2e39] border-2 rounded-lg justify-center"
                    >
                      <img
                        class="mx-auto w-44 p-1 flex items-center justify-center text-white"
                        src="/assets/app-store-badge-en.svg"
                      />
                    </div>
                  </a>
                </div>
                <div class="windowsp mx-auto">
                  <a
                    href="/assets/google-play-badge-en.svg"
                    class="my-4 gap-2 text-secondar flex justify-center items-center py-6 bg-white rounded-xl shadow-lg hover:text-blue-600 dark:text-secondary dark:hover:text-blue-300"
                    rel="noopener noreferrer"
                    target="_blank"
                  >
                    <div
                      class="mx-auto flex w-44 items-center bg-[#2a2e39] border-2 rounded-lg justify-center"
                    >
                      <img
                        class="mx-auto w-40 p-1 flex items-center justify-center text-white"
                        src="/assets/app-desktop-badge-en.svg"
                      />
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </dl>
        </div>
      </div>
    </div>
    <!-- </Base> -->
  </body>
  <script is:inline>
    var ua = navigator.userAgent.toLowerCase();
    var isiPhone = ua.indexOf("iphone") > -1;
    var isiPad = ua.indexOf("ipad") > -1;
    var isAndroid = ua.indexOf("android") > -1;
    let isWindows = ua.indexOf("windows") > -1;
    
    if (isiPhone == true) {
      let apple = document.querySelector(".apple");
      apple.style.display = "block";
      window.location.href =
        "https://apps.apple.com/us/app/%D8%AF%D8%B1%D8%A7%D9%87%D9%85/id6448579250";
    }
    // if (isiPad == true) {
    //   let apple = document.querySelector(".apple");
    //   apple.style.display = "block";
    //   window.location.href =
    //     "https://apps.apple.com/us/app/%D8%AF%D8%B1%D8%A7%D9%87%D9%85/id6448579250?utm_source=FB&utm_medium=fcpage&utm_campaign=01";
    // }
    if (isAndroid == true || isiPad == true) {
      let android = document.querySelector(".android");
      android.style.display = "block";

      window.location.href = "https://bit.ly/46Ygn70";
    }
    if (isWindows==false && isAndroid==false && isiPad==false && isiPhone==false ){
      let isOthers==true ;
    }
    if (isWindows == true || isOthers==true ) {
      let windowsp = document.querySelector(".windowsp");
      let android = document.querySelector(".android");
      let apple = document.querySelector(".apple");
      windowsp.className = "active";
      android.style.display = "block";
      apple.style.display = "block";
      // document.querySelector(".windowsp").classList.add("active");
    }
  </script>

  <style is:global>
    .apple {
      display: none;
    }
    .android {
      display: none;
    }
    .windowsp {
      display: none;
    }
    .active {
      display: block;
    }
    .rightmenu {
      margin-right: 35%;
    }
  </style>
</html>
