---
import { Icon } from "astro-icon";
import Card from "./Card.astro";

const features = [
  {
    name: "حوالة تك",
    description:
      "هذه الخدمة خاصة بتحويل الاموال حول العالم وبجميع العملات سواء كانت حوالة شخصية في الحساب او استلام باليد وكذالك سداد جميع الفواتير (سويفت) والايداعات البنكية .و سنكون بعون الله الافضل والاسرع والاقل تكلفة",
    icon: "money-transfer",
    pop: " p-1",
  },
  {
    name: " بطاقة تك",
    description:
      "هي خدمة تتيح لك اقتناء مجموعة من البطاقات الالكترونية مثل البطاقات الافتراضية من ماستركارد و فيزا لتتمكن من سداد جميع مشترياتك من انحاء العالم وايضا تحتوي هذه الخدمة على مجموعة واسعة من بطاقات الالعاب والتطبيقات من المواقع العالمية",
    icon: "amazon-visa",
    pop: " p-2",
  },

  {
    name: "كرتك",
    description: "هذه الخدمة خاصة بكروت  التطبيقات وكروت الالعاب",
    icon: "game",
    pop: " p-3",
  },
  {
    name: "برمجة تك",
    description:
      "هذه الخدمة خاصة بتصميم المواقع الشخصية والتجارية حيث يمكننا توفير خدمات متنوعة من خلال الموقع المرغوب بتصميمه فيمكن ربطه بالمبيعات والمنظومات الداخلية للشركات التجارية",
    icon: "cics-program",
    pop: " p-4",
  },
];

const jobs = [
  {
    name: "موقع",
    logolink: "/assets/aqari.png",
    icon: "logos:facebook",
    link: "https://libyashoes.ly/",
  },
  {
    name: "متجر",
    logolink: "/assets/libyashoo.png",
    icon: "cib:tiktok",
    link: "https://libyashoes.ly/",
  },

  {
    name: "تطبيق ",
    logolink: "/assets/official.jpeg",
    icon: "darahem",
    link: "https://play.google.com/store/apps/details?id=com.darahem.kart&hl=ar&gl=US",
  },
];
---

<div class="py-6 bg-white-100 dark:bg-gray-800">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center">
      <!-- <h2
        class="text-base text-purple-800 dark:text-purple-300 font-semibold tracking-wide uppercase"
      >
        Features
      </h2> -->
      <p
        id="serv"
        class="mb-3 text-3xl leading-8 border-b-4 font-extrabold tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl"
      >
        خدماتنا
      </p>
      <!-- <p
        class="mt-4 max-w-2xl text-xl text-gray-600 dark:text-gray-300 lg:mx-auto"
      >
        This is a good starting point for a multi-purpose website, including
        support for documentation and blog pages, photo galleries, diagrams,
        math equations and more.
      </p> -->
    </div>

    <div class="max-w-7xl mx-auto px-4 pb-2 sm:px-6 lg:px-8">
      <dl
        class="space-y-10 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10 md:space-y-0"
      >
        <!-- <div class="menu-container"> -->
        {
          features.map((feature) => (
            <div class="menu" data-name={feature.pop}> 
              <div class="  h-16 shadow-lg m-2 p-2  rounded-md border border-blue-300 dark:blue-700  px-4 py-2 bg-primary dark:bg-gray-800 text-sm font-medium text-gray-100 dark:text-gray-100  hover:bg-blue-800  dark:hover:bg-blue-800  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-blue-300 dark:focus:ring-offset-blue-700 focus:ring-blue-500">
                <div class="absolute flex  -mr-4 h-12 w-12 items-center  justify-center rounded-md bg-primary text-secondary dark:bg-primary dark:text-black">
                  <Icon
                    class=" flex h-6 w-6 items-center  justify-center"
                    aria-hidden="true"
                    name={feature.icon}
                  />
                </div>
               <!--  <p class=" mx-auto  flex  justify-center  items-center  w-full h-full text-lg leading-6 font-medium text-primary dark:text-secondary"> -->
                
                  <p class=" mx-auto  flex  justify-center  items-center  w-full h-full  sm:text-4xl text-3xl leading-6 font-medium text-secondary dark:text-secondary">
                  {feature.name}
                </p>
              </div>
            </div>
          ))
        }
        <!-- </div> -->
      </dl>
    </div>
  </div>
  <div class="text-center bg-slate-100 dark:bg-gray-800">
    <p
      id="jobs"
      class="mt-8 py-6 text-3xl leading-8 font-extrabold border-b-4 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl"
    >
      اعمالنا
    </p>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="shrink-0">
        <dl
          class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10 p-4"
        >
          {
            jobs.map((job) => (
              <div>
                <div class=" bg-white rounded-xl shadow-lg m-2 p-2">
                  <div>
                    <a
                      href={job.link}
                      class="ml-3 text-secondary  py-4  bg-white rounded-xl shadow-lg hover:text-blue-600 dark:text-secondary dark:hover:text-blue-300"
                      rel="noopener noreferrer"
                      target="_blank"
                    >
                      <p class=" m-auto  text-lg leading-6  font-bold text-gray-900  dark:text-secondary dark:opacity-100">
                        {job.name}
                      </p>
                      <div class=" mx-auto flex h-24 w-24 items-center  justify-center">
                        <img
                          class="mx-auto h-22 w-22  flex items-center justify-center "
                          src={job.logolink}
                        />
                      </div>
                      <dd class="  hidden  items-center justify-center  mr-4 mt-2 text-base text-gray-600 dark:text-gray-400">
                        {job.logolink}
                      </dd>
                    </a>
                  </div>
                </div>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</div>
<script is:inline>
  let preveiwMenue = document.querySelector(".menu-preview1");
  let previewBox = document.querySelectorAll(".preview1");
  let scape = document.querySelectorAll("keyup");
  const features = [
    {
      name: "حوالة تك",
      description:
        "هذه الخدمة خاصة بتحويل الاموال حول العالم وبجميع العملات سواء كانت حوالة شخصية في الحساب او استلام باليد وكذالك سداد جميع الفواتير (سويفت) والايداعات البنكية .و سنكون بعون الله الافضل والاسرع والاقل تكلفة",
      icon: "sparkles",
      pop: " p-1",
    },
    {
      name: " بطاقة تك",
      description:
        "هي خدمة تتيح لك اقتناء مجموعة من البطاقات الالكترونية مثل البطاقات الافتراضية من ماستركارد و فيزا لتتمكن من سداد جميع مشترياتك من انحاء العالم وايضا تحتوي هذه الخدمة على مجموعة واسعة من بطاقات الالعاب والتطبيقات من المواقع العالمية",
      icon: "puzzle",
      pop: " p-2",
    },

    {
      name: "كرتك",
      description: "هذه الخدمة خاصة بكروت  التطبيقات وكروت الالعاب",
      icon: "clock",
      pop: " p-3",
    },
    {
      name: "برمجة تك",
      description:
        "هذه الخدمة خاصة بتصميم المواقع الشخصية والتجارية حيث يمكننا توفير خدمات متنوعة من خلال الموقع المرغوب بتصميمه فيمكن ربطه بالمبيعات والمنظومات الداخلية للشركات التجارية",
      icon: "clock",
      pop: " p-4",
    },
  ];
  document.querySelectorAll(" .menu").forEach((product) => {
    product.onclick = () => {
      // preveiwMenue.style.display = "flex";
      let Overlay = document.createElement("div");
      Overlay.className = "menu-preview1";
      document.body.appendChild(Overlay);
      let popupbox = document.createElement("div");
      popupbox.className = "preview1";

      let name = product.getAttribute("data-name");

      features.map((feature) => {
        if (feature.pop == name) {
          let popparagraph = document.createElement("h3");
          let partext = document.createTextNode(feature.description);
          popparagraph.appendChild(partext);
          popupbox.appendChild(popparagraph);
        }
      });
      let closeB = document.createElement("span");
      closeB.className = "fa-xmark1";
      let closeBtext = document.createTextNode("x");
      closeB.appendChild(closeBtext);
      popupbox.appendChild(closeB);
      document.body.appendChild(popupbox);
      // let target = product.getAttribute("data-target");
      // target = name;
      // document.body.appendChild(popupbox);

      // previewBox.forEach((preview) => {
      //   let target = preview.getAttribute("data-target");
      //   if (name == target) {
      //     preview.classList.add("active");
      //   }
      // });
    };
  });
  document.addEventListener("click", function (e) {
    if (e.target.className == "fa-xmark1") {
      e.target.parentNode.remove();
      document.querySelector(".menu-preview1").remove();
    }
  });
  // document.querySelectorAll(".fa-xmark1").forEach((close) => {
  //   close.onclick = () => {
  //     close.parentNode.remove();
  //     document.querySelector(".menu-preview1").remove();
  //     preveiwMenue.remove();
  // previewBox.classList.remove("active");
  // preveiwMenue.style.display = none;
  //   };
  // });
  //  keyboard escape
  // document.addEventListener("keyup", (ev) => {
  //   if (ev.key === "Escape") {
  //     document.querySelector(".preview1").remove();
  //     document.querySelector(".menu-preview1").remove();
  //   }
  // });
  // if (e.target.className == ".menu-preview") {
  // Remove Overlay
  // document.querySelector(".menu-preview").remove();

  // Remove popup Box
  //   preveiwMenue.remove();
  //   previewBox.classList.remove("active");
  // }
</script>
<!-- <script is:inline src="../js/popup.js"></script> -->
<style is:global>
  * {
    /* margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; */
    transition: all 0.4s linear;
  }

  /* body {
    background: #eee;
  } */
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .menu {
    cursor: pointer;
    outline: 0.1rem solid #ccc;
    outline-offset: -0.6rem;
    outline-style: dotted;
  
    border-color: #333;
    border-radius: 5px%;
  }
  .menu:hover {
    transform: scale(1.1);
    outline-offset: 1rem;
    outline: 0.1rem solid gold;
  }
  .fa-xmark1 {
    position: absolute;
    top: -15px;
    right: -15px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    background-color: aqua;
    font-weight: bold;
  }
  .fa-xmark1:hover {
    transform: rotate(270deg);
    color: gold;
  }
  .menu-preview1 {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* display: none; */
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  /* .preview1 {
    
    padding: 0.5rem;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    width: 80%;
    height: 80%;
    background: #fff;
    z-index: 1100;
    
  } */
  .preview1 {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: block;
    text-align: center;
    width: 80%;
    max-width: 400px;
    background: #fff;
    border-radius: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px 30px 30px;
    transition: transform 0.6s, top 0.6s;
    z-index: 1100;
  }
</style>
