---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon";
import { Logo } from "../config";

const social = await getCollection("social");
---

<div class="h-24 lg:h-16"></div>
<footer class="whitespace-nowrap text-gray-600 dark:text-gray-400">
  <div
    class="h-24 fixed z-20 bottom-0 inset-x-0 bg-[#0f3548] 48 dark:bg-gray-800 px-4 lg:px-8 py-1 lg:py-4 w-full flex items-center justify-between lg:flex-col flex-col border-t-2 border-purple-300 dark:border-[#f0c986]"
  >
    <span class="flex justify-between flex-row w-5/6">
      <p
        class="flex justify-between text-sm text-gray-600 dark:text-gray-300 ml-4 pl-4 dark:lg:border-[#f0c986] lg:py-1"
      >
        <a
          href={import.meta.env.BASE_URL + "privacy"}
          class="ml-1 text-[#f0c986] hover:text-blue-600 dark:text-[#f0c986 dark:hover:text-blue-300"
        >
          من نحن
        </a>
      </p>
      <p class="ml-4 py-1 pl-4 text-sm text-gray-600">
        <a
          href={import.meta.env.BASE_URL + "rss.xml"}
          class="ml-1 text-[#f0c986] hover:text-blue-600 dark:text-[#f0c986 dark:hover:text-blue-300"
          rel="noopener noreferrer"
          target="_blank"
        >
          خدماتنا
        </a>
      </p>
      <p class="ml-4 py-1 pl-4 text-sm text-gray-600 dark:text-gray-300">
        <a
          href={import.meta.env.BASE_URL + "sitemap-index.xml"}
          class="ml-1 text-[#f0c986] hover:text-blue-600 dark:text-[#f0c986 dark:hover:text-blue-300"
          rel="noopener noreferrer"
          target="_blank"
        >
          اعمالنا
        </a>
      </p>
      <p
        class="ml-4 border-purple-300 py-1 pl-4 text-sm text-gray-600 dark:text-gray-300"
      >
        <a
          href={import.meta.env.BASE_URL + "sitemap-index.xml"}
          class="ml-1 text-[#f0c986] hover:text-blue-600 dark:text-[#f0c986 dark:hover:text-blue-300"
          rel="noopener noreferrer"
          target="_blank"
        >
          اتصل بنا
        </a>
      </p>
    </span>
    <span
      class="flex justify-center space-x-6 md:hidden lg:hidden mt-1 lg:mt-0"
    >
      {
        social.map((s) =>
          s.data.link ? (
            <a
              href={s.data.link}
              class="ml-3  text-[#f0c986] hover:text-blue-600 dark:text-[#f0c986 dark:hover:text-blue-300"
              rel="noopener noreferrer"
              target="_blank"
            >
              <Icon pack="bi" name={s.data.icon} class=" h-5 w-5" />
              <span class="sr-only">{s.data.name}</span>
            </a>
          ) : (
            ""
          )
        )
      }
    </span>
    <span class="max-md:hidden flex-none flex flex-row items-center">
      <a
        class="max-md:hidden flex title-font font-medium items-center lg:justify-start justify-center text-gray-900 dark:text:gray-100"
        href={import.meta.env.BASE_URL}
      >
        <img src={Logo.src} alt="Footer Logo" class="h-10 w-10 rounded-full" />
        <span class="sr-only">Logo</span>
      </a>
    </span>
    <div class="flex-none flex flex-row items-stretch">
      <span
        class="lg:justify-start text-sm text-[#f0c986] dark:text-[#f0c986] ml-2 pl-2 border-white-300 dark:border-[#f0c986] py-1"
      >
        © {new Date().getFullYear()} شركة دراهم للوساطة و التجارة الالكترونية
        <!-- <a
            href="https://hellotham.com"
            class="ml-1 text-[#f0c986] hover:text-blue-600 dark:text-[#f0c986 dark:hover:text-blue-300"
            rel="noopener noreferrer"
            target="_blank"
          >
            Hello Tham Pty Ltd
          </a>
        </p> -->
      </span>
      <span class="max-md:hidden inline-flex lg:m-auto space-x-4 items-end">
        {
          social.map((s) =>
            s.data.link ? (
              <a
                href={s.data.link}
                class="ml-3 text-[#f0c986] hover:text-blue-600 dark:text-[#f0c986 dark:hover:text-blue-300"
                rel="noopener noreferrer"
                target="_blank"
              >
                <Icon pack="bi" name={s.data.icon} class=" h-5 w-5" />
                <span class="sr-only">{s.data.name}</span>
              </a>
            ) : (
              ""
            )
          )
        }
      </span>
    </div>
  </div>
</footer>
