---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon";
import { Logo } from "../config";
import About from "./about.astro";

const social = await getCollection("social");
---

<!-- <div class="md:h-24"></div> -->
<footer class="whitespace-nowrap text-gray-600 dark:text-gray-400"></footer>
<nav class="menusmi">
  <input
    type="checkbox"
    class="menusmi-open"
    name="menusmi-open"
    id="menusmi-open"
  />
  <label class="menusmi-open-button" for="menusmi-open">
    <span class="hamburger hamburger-1"></span>
    <span class="hamburger hamburger-2"></span>
    <span class="hamburger hamburger-3"></span>
  </label>

  <a href="#" class="menusmi-item"> <Icon name="phone-outline" /></a>
  <a href="#" class="menusmi-item"> <Icon name="facebook-outline" /></a>
  <a href="#" class="menusmi-item"> <Icon name="whatsapp-outline" /></a>
  <a href="#" class="menusmi-item"> <Icon name="envelope-outline" /></a>
  <a href="#" class="menusmi-item"> <Icon name="tiktok2" /></a>
  <a href="#" class="menusmi-item"> <Icon name="instagram-outline" /></a>
</nav>

<!-- filters -->
<div class="hidden">
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
      <filter id="shadowed-goo">
        <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"
        ></feGaussianBlur>
        <feColorMatrix
          in="blur"
          mode="matrix"
          values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7"
          result="goo"></feColorMatrix>
        <feGaussianBlur in="goo" stdDeviation="3" result="shadow"
        ></feGaussianBlur>
        <feColorMatrix
          in="shadow"
          mode="matrix"
          values="0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 -0.2"
          result="shadow"></feColorMatrix>
        <feOffset in="shadow" dx="1" dy="1" result="shadow"></feOffset>
        <feComposite in2="shadow" in="goo" result="goo"></feComposite>
        <feComposite in2="goo" in="SourceGraphic" result="mix"></feComposite>
      </filter>
      <filter id="goo">
        <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"
        ></feGaussianBlur>
        <feColorMatrix
          in="blur"
          mode="matrix"
          values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7"
          result="goo"></feColorMatrix>
        <feComposite in2="goo" in="SourceGraphic" result="mix"></feComposite>
      </filter>
    </defs>
  </svg>
</div>

<div
  class="md:fixed z-20 md:bottom-0 md:inset-x-0 bg-primary dark:bg-gray-800 px-1 lg:px-8 py-1 lg:py-4 w-full flex items-center justify-between flex-row border-t-2 border-secondary dark:border-secondary flex-wrap"
>
  <div class="flex flex-row w-full justify-center items-center">
    <div class="flex w-1/2 justify-between flex-col">
      <div class="menuf" data-name="f-1">
        <p class="sm:py-0 mx-2 lg:mx-6 lg:px-2 text-sm text-gray-600">
          <a
            href="#about"
            class="text-secondary hover:text-blue-600 dark:text-secondary dark:hover:text-blue-300"
          >
            من نحن
          </a>
        </p>
      </div>
      <p class="sm:py-0 mx-2 lg:mx-6 lg:px-2 text-sm text-gray-600">
        <a
          href="#serv"
          class="text-secondary hover:text-blue-600 dark:text-secondary dark:hover:text-blue-300"
          rel="noopener noreferrer"
          target="_blank"
        >
          خدماتنا
        </a>
      </p>
      <p
        class="sm:py-0 mx-2 lg:mx-6 lg:px-8 text-sm text-gray-600 dark:text-gray-300"
      >
        <a
          href="#jobs"
          class="text-secondary hover:text-blue-600 dark:text-secondary dark:hover:text-blue-300"
          rel="noopener noreferrer"
          target="_blank"
        >
          اعمالنا
        </a>
      </p>
      <p
        class="sm:py-0 mx-2 lg:mx-6 lg:px-8 text-sm text-gray-600 dark:text-gray-300"
      >
        <a
          href={import.meta.env.BASE_URL + "sitemap-index.xml"}
          class="text-secondary hover:text-blue-600 dark:text-secondary dark:hover:text-blue-300"
          rel="noopener noreferrer"
          target="_blank"
        >
          اتصل بنا
        </a>
      </p>
      <p
        class="sm:py-0 mx-2 lg:mx-6 lg:px-8 text-sm text-gray-600 dark:text-gray-300"
      >
        <a
          href={import.meta.env.BASE_URL + "terms"}
          class="text-secondary hover:text-blue-600 dark:text-secondary dark:hover:text-blue-300"
          rel="noopener noreferrer"
          target="_blank"
        >
          سياسة الخصوصية
        </a>
      </p>
    </div>

    <div
      class="flex flex-col justify-center items-center w-1/2 pt-1 md:hidden lg:hidden mt-1 lg:mt-0"
    >
      {
        social.map((s) =>
          s.data.link ? (
            <a
              href={s.data.link}
              class="  text-secondary hover:text-blue-600 dark:text-secondary dark:hover:text-blue-300"
              rel="noopener noreferrer"
              target="_blank"
            >
              <Icon name={s.data.icon} class=" h-5 w-5" />
              <span class="sr-only">{s.data.name}</span>
            </a>
          ) : (
            ""
          )
        )
      }
    </div>
  </div>

  <div class="flex flex-row w-full justify-center items-center">
    <span
      class="lg: justify-center text-md pt-2 text-secondary dark:text-secondary ml-2 pl-1 border-white-300 dark:border-secondary py-1"
    >
      شركة دراهم للوساطة و التجارة الالكترونية © {new Date().getFullYear()}
    </span>
    <span class="max-md:hidden inline-flex lg:m-auto space-x-4 items-end">
      {
        social.map((s) =>
          s.data.link ? (
            <a
              href={s.data.link}
              class=" text-secondary hover:text-blue-600 dark:text-secondary dark:hover:text-blue-300"
              rel="noopener noreferrer"
              target="_blank"
            >
              <Icon name={s.data.icon} class=" h-5 w-5" />
              <span class="sr-only">{s.data.name}</span>
            </a>
          ) : (
            ""
          )
        )
      }
    </span>
  </div>

  <script is:inline>
    const aboutus = [
      {
        name: "من نحن",
        description:
          "نحن هنا لنساعدك في تطوير اعمالك وتوسيع التجارة نوصلك لاهدافك بايسر الطرق واسرعها نؤمِن لك التعامل مع كل الاطراف الذين ترغب في اتمام الصفقات والتواصل  معهم نضعك على خارطة العالم للتعريف باعمالك وتنميتها وتطويرها.",
        pop: "f-1",
      },
    ];
    document.querySelectorAll(" .menuf").forEach((product) => {
      product.onclick = () => {
        // preveiwMenue.style.display = "flex";
        let Overlay = document.createElement("div");
        Overlay.className = "menu-preview1";
        document.body.appendChild(Overlay);
        let popupbox = document.createElement("div");
        popupbox.className = "preview1";

        let name = product.getAttribute("data-name");
        aboutus.map((about) => {
          if (about.pop == name) {
            let popparagraph = document.createElement("h3");
            let partext = document.createTextNode(about.description);
            popparagraph.appendChild(partext);
            popupbox.appendChild(popparagraph);
            document.body.appendChild(popupbox);
          }
        });

        let closeB = document.createElement("span");
        closeB.className = "fa-xmark1";
        let closeBtext = document.createTextNode("x");
        closeB.appendChild(closeBtext);
        popupbox.appendChild(closeB);
      };
    });
    document.addEventListener("click", function (e) {
      if (e.target.className == "fa-xmark1") {
        e.target.parentNode.remove();
        document.querySelector(".menu-preview1").remove();
      }
    });
  </script>
</div>
<style>
  /* body {
      background: #8bc34a;
      color: white;
      text-align: center;
    } */

  a {
    color: inherit;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  h1 {
    font-size: 3em;
  }

  .menusmi {
    filter: url("#goo");
    z-index: 999;
  }

  .menusmi-item,
  .menusmi-open-button {
    background: #0f0;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    position: absolute;
    top: 20px;
    color: white;
    text-align: center;
    line-height: 40px;
    transform: translate3d(0, 0, 0);
    transition: transform ease-out 200ms;
    /* z-index: 500; */
  }

  .menusmi-open {
    display: none;
  }

  .hamburger {
    width: 20px;
    height: 2px;
    background: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -1px;
    transition: transform 200ms;
    /* z-index: 600; */
  }

  .hamburger-1 {
    transform: translate3d(0, -8px, 0);
  }

  .hamburger-2 {
    transform: translate3d(0, 0, 0);
  }

  .hamburger-3 {
    transform: translate3d(0, 8px, 0);
  }

  .menusmi-open:checked + .menusmi-open-button .hamburger-1 {
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  .menusmi-open:checked + .menusmi-open-button .hamburger-2 {
    transform: translate3d(0, 0, 0) scale(0.1, 1);
  }
  .menusmi-open:checked + .menusmi-open-button .hamburger-3 {
    transform: translate3d(0, 0, 0) rotate(-45deg);
  }

  .menusmi {
    position: fixed;
    left: 15%;
    top: 60%;
    /* margin-left: -190px;
    padding-top: 20px;
    padding-left: 190px;
    width: 380px;
    height: 250px; */
    box-sizing: border-box;
    font-size: 20px;
    text-align: left;
  }

  .menusmi-item:hover {
    background: #8bc34a;
    color: #8bc34a;
  }
  .menusmi-item:nth-child(3) {
    transition-duration: 180ms;
  }
  .menusmi-item:nth-child(4) {
    transition-duration: 180ms;
  }
  .menusmi-item:nth-child(5) {
    transition-duration: 180ms;
  }
  .menusmi-item:nth-child(6) {
    transition-duration: 180ms;
  }
  .menusmi-item:nth-child(7) {
    transition-duration: 180ms;
  }
  .menusmi-item:nth-child(8) {
    transition-duration: 180ms;
  }

  .menusmi-open-button {
    z-index: 2;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 400ms;
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
  }

  .menusmi-open-button:hover {
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  }

  .menusmi-open:checked + .menusmi-open-button {
    transition-timing-function: linear;
    transition-duration: 200ms;
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  }

  .menusmi-open:checked ~ .menusmi-item {
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
  }

  .menusmi-open:checked ~ .menusmi-item:nth-child(3) {
    transition-duration: 180ms;
    transform: translate3d(8.87954px, -104.62387px, 0);
  }
  .menusmi-open:checked ~ .menusmi-item:nth-child(4) {
    transition-duration: 280ms;
    transform: translate3d(66.46873px, -81.28289px, 0);
  }
  .menusmi-open:checked ~ .menusmi-item:nth-child(5) {
    transition-duration: 380ms;
    transform: translate3d(100.77839px, -29.47399px, 0);
  }
  .menusmi-open:checked ~ .menusmi-item:nth-child(6) {
    transition-duration: 480ms;
    transform: translate3d(99.79217px, 32.65767px, 0);
  }
  .menusmi-open:checked ~ .menusmi-item:nth-child(7) {
    transition-duration: 580ms;
    transform: translate3d(63.85546px, 83.35155px, 0);
  }
  .menusmi-open:checked ~ .menusmi-item:nth-child(8) {
    transition-duration: 680ms;
    transform: translate3d(5.55448px, 104.85298px, 0);
  }

  .hidden {
    display: none;
  }
</style>
